!!!
%html{:lang => 'en'}
  %head
    = render 'application/head'
  %body{:class => body_class}
    %nav
      - if signed_in?
        = current_user.email
        = link_to 'Log out', destroy_user_session_path, method: :delete
      - else
        = link_to 'Log in', new_user_session_path
    = render 'flashes'
    = yield
    = yield :javascript
    = render 'css_overrides'
