= form_tag [team, :members], method: :post do
  %ul
    - @members.each.with_index do |member, i|
      %li
        = simple_fields_for "members[#{i}]", member do |fields|
          = fields.input :name
          = fields.input :email, as: :email
  %button{type: :submit}
    Invite members
